.featured-founder {
	padding-top: 32px;
	padding-top: 2rem;
	overflow: visible;

	h2 {
		color: #fff;
		font-weight: 400;
		letter-spacing: 12px;
		font-size: 15px;
		text-transform: uppercase;
		text-align: center;
	}

	img {
		max-width: 100%;
		padding: 0;
	}
}

.featured-founder--images {
	position: relative;
}

.featured-founder--images--large {
	max-width: 80%;
}

.featured-founder--images--small {
	position: absolute;
	right: 0;
	max-width: 270px;
	bottom: -75px;
	text-align: center;

	a.view-link {
		color: #fff;
		text-transform: uppercase;
		letter-spacing: 4px;
		border-bottom: 1px solid #eebc57;
		display: none;
	}
}

a.view-link {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 4px;
	border-bottom: 1px solid #eebc57;
	display: none;
}

.featured-founder--bio {
	margin-top: 64px;
	margin-top: 4rem;
	max-width: 500px;

	.view-link {
		display: none;
	}

	h3 {
		color: #fff;
		font-size: 15px;
		letter-spacing: 8px;
		font-weight: 500;
		text-transform: uppercase;
		padding-top: 32px;
		padding-top: 2rem;
	}

	p {
		height: auto;
		max-width: 446px;
		opacity: .65;
		color: #fff;
		font-family: GT Walsheim, sans-serif;
		font-weight: 300;
		line-height: 1.8;
	}
}

.founders {
	clear: both;
	width: 100%;

	h3 {
		padding-top: 48px;
		padding-top: 3rem;
		padding-bottom: 48px;
		padding-bottom: 3rem;
		text-align: center;
	}
}

.founder {
	text-align: left;

	img {
		width: 100%;
	}

	h4 {
		font-size: 11px;
		color: #fff;
		letter-spacing: 4px;
		text-transform: uppercase;
		line-height: 1;
		padding-bottom: 0;
		margin-bottom: 0;
		padding-top: 2em;
		font-weight: 400;
	}

	p {
		font-size: 15px;
		margin-top: 0;
		padding-top: .4em;
		margin-bottom: 54.4px;
		margin-bottom: 3.4rem;
	}
}


@media (min-width:720px) {

	.featured-founder {
		padding-bottom: 6rem;

		h2 {
			padding-bottom: 4rem;
			font-size: 18px;
		}
	}

	#founders {
		.featured-founder {
			margin-bottom: 6rem;
		}
	}

	.featured-founder--images--small {
		bottom: -160px;

		a.view-link {
			display: inline-block;
			margin-top: 2rem;
		}
	}

	a.view-link {
		display: inline-block;
		margin-top: 2rem;
	}

	.featured-founder--bio {
		margin-top: 6rem;

		h3 {
			font-size: 18px;
			letter-spacing: 12px;
			padding-top: 0;
		}
	}
}



@media (max-width:700px) {
	.featured-founder--images--small {
		bottom: -75px;
		max-width: 160px;
	}

	.featured-founder--bio {
		.view-link {
			display: inline-block;
		}
	}
}

@media (min-width:740px) {
	.featured-founder--bio {
		p {
			font-size: 20px;
		}
	}
}