input[type=email] {
	background: none;
	border: none;
	border-bottom: 2px solid #ccc;
	padding-left: 0;
	color: #fff;

	&:focus {
		border-bottom: 2px solid #eebc57;
		background-color: inherit;
	}
}

input[type=password] {
	background: none;
	border: none;
	border-bottom: 2px solid #ccc;
	padding-left: 0;
	color: #fff;

	&:focus {
		border-bottom: 2px solid #eebc57;
		background-color: inherit;
	}
}

input[type=tel] {
	background: none;
	border: none;
	border-bottom: 2px solid #ccc;
	padding-left: 0;
	color: #fff;

	&:focus {
		border-bottom: 2px solid #eebc57;
		background-color: inherit;
	}
}

input[type=text] {
	background: none;
	border: none;
	border-bottom: 2px solid #ccc;
	padding-left: 0;
	color: #fff;

	&:focus {
		border-bottom: 2px solid #eebc57;
		background-color: inherit;
	}
}

.onboard-form {
	textarea {
		background: rgba(0, 0, 0, .4);
		border: none;
		margin-top: 16px;
		margin-top: 1rem;
		border-bottom: 2px solid #ccc;
		color: #fff;

		&:focus {
			border-bottom: 2px solid #eebc57;
			background: rgba(0, 0, 0, .8);
		}
	}

	margin: auto;
	max-width: 540px;
	padding: 40px 50px;
	background: rgba(0, 0, 0, .4);
	border-radius: 3px;
	z-index: 999;

	h5 {
		display: block;
		text-transform: uppercase;
		letter-spacing: 4px;
		font-size: 12px;
		color: #fff;
	}

	label.half {
		display: block;
		padding-right: 0;
		width: 47.5%;
		float: left;

		&:nth-child(2n) {
			margin-left: 5%;
		}
	}
}

label {
	color: #fff;
}

.register-form {
	margin-top: -240px;
	margin-top: -15rem;
}

.form-row {
	margin-bottom: 32px;
	margin-bottom: 2rem;
	overflow: visible;

	label {
		color: #fff;
	}

	&:after {
		content: "";
		display: table;
		clear: both;
	}

	&:before {
		content: "";
		display: table;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

.onboard-text {
	font-size: 15px;
	padding-top: 32px;
	padding-top: 2rem;

	b {
		color: #fff;
		text-transform: uppercase;
		letter-spacing: 4px;
		font-size: 12px;
	}

	h5 {
		color: #fff;
		text-transform: uppercase;
		letter-spacing: 4px;
		font-size: 12px;
	}

	li {
		margin-bottom: 32px;
		margin-bottom: 2rem;
		list-style: none;
		margin-left: 0;
		padding-left: 0;

		b {
			display: block;
			text-transform: uppercase;
			letter-spacing: 4px;
			font-size: 12px;
		}

		h5 {
			display: block;
			text-transform: uppercase;
			letter-spacing: 4px;
			font-size: 12px;
		}
	}
}