.quote {
	clear: both;
	padding-top: 64px;
	padding-top: 4rem;

	blockquote {
		font-size: 26px;
		font-family: Pensum, serif;
		font-weight: 200;
		color: #fff;
		text-indent: -.4em;
		max-width: 800px;
		line-height: 1.6;
	}

	cite {
		color: hsla(0, 0%, 100%, .7);
		margin-bottom: 64px;
		margin-bottom: 4rem;

		.dash {
			color: #eebc57;
		}

		&:before {
			display: none;
		}
	}
}

#single-founder {
	.quote {
		padding-bottom: 64px;
		padding-bottom: 4rem;
	}
}


@media (min-width:720px) {

	.quote {
		blockquote {
			font-size: 52px;
		}

		cite {
			padding-left: 2rem;
		}
	}
}